html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at 30px 100px, rgb(247, 217, 217) 0%, rgb(245, 245, 245) 50%, rgb(206, 206, 206) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 700px;
    height: 700px;
}

.watch .center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.center .watch-outer_bg {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
}

.center .watch-inner_bg {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.watch .center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    transform: translate(-50%, -50%);
}

.watch .center-container .hour-btn {
    position: absolute;
    width: 50px;
    height: 30px;
    left: -25px;
    top: -10px;
    list-style: none;
    padding: 0;
}

.watch .center-container .hour-btn>a {
    font-family: 'Lora', serif;
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.watch .center-container .minute-btn {
    position: absolute;
    width: 50px;
    height: 30px;
    left: -25px;
    top: -10px;
    list-style: none;
    padding: 0;
}

.watch .center-container .minute-btn>a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    text-align: center;
}

.watch .focus {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    border-radius: 50%;
    overflow: hidden;
}
.watch .focus::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-width: 220px 130px 0 130px;
    border-style: solid;
    border-color: #ead34f transparent transparent transparent;
    filter: drop-shadow(0px 10px 40px #ead34f71);
}
.watch .focus::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 218px;
    width: 2px;
    height: 27px;
    background: #ead34f;
    transform: translate(-50%, 0);
}

.watch .time-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 220px;
    height: 220px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid rgba(234, 211, 79, 0.6);
}